---
import type { CollectionEntry } from "astro:content";
import { createBlogUrl, formatDate } from "../utils";

export interface Props {
  blog: CollectionEntry<"blog">;
}

const { blog } = Astro.props;
---

<div
  class="rounded-lg border border-slate-500 bg-slate-700/50 p-4 text-gray-50"
>
  <div class="flex flex-col gap-2">
    <a
      class="test cursor-pointer text-xl font-semibold transition-colors hover:text-blue-400 hover:underline"
      href={createBlogUrl(blog.slug)}>{blog.data.title}</a
    >
    <small class="text-gray-50/60">{formatDate(blog.data.date)}</small>
  </div>
  <hr class="mb-4 border-slate-500 bg-slate-500" />
  <div class="flex flex-col">
    <p>{blog.data.description}</p>
    <a
      class="self-end text-blue-500/90 underline transition-colors hover:text-blue-400"
      href={createBlogUrl(blog.slug)}
      ><small>Read more...</small>
    </a>
  </div>
</div>
